body {
    background: url('https://github.com/LapPl4ND/LapPl4ND.github.io/blob/main/img/Background.gif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}
